

<ion-card *ngFor="let producto of listaProductos" > 
    
    <ion-grid>
        <ion-row>
            <ion-col size="4">
                    <!--ion-img src="http://www.zsmotor.cl/img/Producto/{{ producto.codigo }}/{{ producto.codigo }}.jpg" onerror=" this.src='assets/imgs/no-img.png' "></ion-img-->
                    <img src="http://www.zsmotor.cl/img/Producto/{{ producto.codigo }}/{{ producto.codigo }}.jpg" onerror=" this.src='assets/imgs/no-img2.png' "/>
                </ion-col>
            <ion-col size="8">
                <p class="masgrande"><b>{{ producto.codigo }}</b></p>
                <ion-label><h3>{{ producto.descripcion }}</h3></ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-card>      
