<ion-header>
  <ion-toolbar>
    <ion-title>
      Kinetik: Toma de Pedidos (v1.1)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding id="homepage">

  <ion-img src="assets/imgs/logo-001.png" class="logo-001" [routerLink]="['/login']"></ion-img>

  <p class="sistema1">Sistema de toma de pedidos on-line, con lectura de códigos de barra ( code-39, code-128, QR, etc ).</p>

  <ion-img src="assets/imgs/logo-kinetik.png" class="logo-kinetik" [routerLink]="['/login']"></ion-img>

  <p class="sistema2">Pulse cualquiera de los logos para acceder al sistema.</p>
  
</ion-content> 
